body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.logo {
  height: 32px;
  object-fit: contain;
}

.icon {
  height: 32px;
  object-fit: contain;
}

.user-icon {
  height: 32px;
  width: 32px;
}
